{% extends "base.html" %}

{% block body_content %}
<div class="container mt-4">
    <h1 class="mb-4">Add Labor</h1> 

    <div class="card shadow rounded">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ edit_form.as_p }}
                <button type="submit" class="btn btn-dark primary">Edit</button>
                <a href="{% url 'labor-list' %}" class="btn btn-secondary btn-dark">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}