{% extends 'base.html' %}

{% block body_content %}
<div class="container mt-4">
    <h1 class="mb-4">Material List</h1> 

    <div class="card shadow rounded">
        <div class="card-body">
            <table class="table table-hover align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Cost</th>
                        <th>Unit</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for textile in textiles %}
                    <tr>
                        <td>{{ textile.name }}</td>
                        <td>₱ {{ textile.cost }}</td>
                        <td>{{ textile.get_unit_display }}</td>
                        <td><a href="{% url 'material-edit' 'textile' textile.pk %}" class="btn btn-sm btn-dark">Edit</a></td>
                        <td><a href="{% url 'material-delete' 'textile' textile.pk %}" class="btn btn-sm btn-dark">Delete</a></td>
                    </tr>
                    {% endfor %}

                    {% for accessory in accessories %}
                    <tr>
                        <td>{{ accessory.name }}</td>
                        <td>₱ {{ accessory.cost }}</td>
                        <td>{{ accessory.get_unit_display }}</td>
                        <td><a href="{% url 'material-edit' 'accessory' accessory.pk %}" class="btn btn-sm btn-dark">Edit</a></td>
                        <td><a href="{% url 'material-delete' 'accessory' accessory.pk %}" class="btn btn-sm btn-dark">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-between mt-3">
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Add Material
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'material-form' 'textile' %}">Add Textile</a></li>
                        <li><a class="dropdown-item" href="{% url 'material-form' 'accessory' %}">Add Accessory</a></li>
                    </ul>
                </div>
                    <a href="{% url 'labor-list' %}" class="btn btn-dark">View Labor</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
